extends ./layout.pug

block body
  
  include ./partials/header.pug
    
  //- Page Banner Section
  - var bannerImage = pageContent.getImage("page.bannerImage")
  - var bannerImageUrl = bannerImage ? bannerImage.url : ""
  section.page-banner(style='background-image: linear-gradient(rgba(37, 63, 72, 0.92), rgba(37, 63, 72, 0.92)), url(' + bannerImageUrl + ')')
    div.banner-content.container
      p.banner-text !{pageContent.getText("page.bannerText")}
      
  //- If there are any slices
  if pageContent.getSliceZone('page.body') !== null

    //- Display the slices
    for slice in pageContent.getSliceZone('page.body').slices
      case slice.sliceType
        
        //- Text section
        when 'textSection'
          include ./partials/text-section.pug
          
        //- Quote section
        when 'quote'
          include ./partials/quote.pug
          
        //- Full width image section
        when 'fullWidthImage'
          include ./partials/full-width-image.pug
          
        //- Stats Section
        when 'stats'
          include ./partials/stats.pug
          
        //- Highlights Section
        when 'highlights'
          include ./partials/highlights.pug
          
        //- Text CTA Section
        when 'cta'
          include ./partials/text-cta.pug
          
        //- Image Break Section
        when 'imageBreak'
          include ./partials/image-break.pug
          
        //- Line Break Section
        when 'lineBreak'
          div.line-break.container
